/* App.css */

.App {
    text-align: center;
}

.App-header {
    background-color: #00bcd4; /* Bright Cyan */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.UserList {
    margin-top: 20px;
}

.UserList ul {
    list-style-type: none;
    padding: 0;
}

.UserList li {
    margin: 5px 0;
    /* Remove bullets/dots from list items */
    list-style-type: none;
}

.button {
    background-color: #ff5722; /* Bright Orange */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px; /* Add some space between the button and the list */
}

.button:hover {
    background-color: #ff7043; /* Slightly lighter Orange on hover */
}
